@media screen and (max-width: 992px){
  /* *********flag ********************* */
  .fontSize{
    font-size: 2rem;
  }
}
@media screen and (max-width: 950px){
  /* ********************* passpoart section ************************ */
  .passpoart_body ul li p {
    display: none;
  }
}
@media screen and (max-width: 768px){
    /* flag media  */
    header .bars_icon {
        display: block;
  }

    header nav ul {
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: rgb(0,0,0);
        text-align: center;
        display: none;
        z-index: 99999;
  }

  header nav ul.active{
      display: block;
  }

    header nav ul li {
       display: block;
       margin: 35px 0;
  }

  .container_body{
    padding: 25px 10px;
 }

  header .searchBox form input {
  width: 81.35%;
  left: 15%;
   }

 /* *********flag ********************* */
 .fontSize{
    font-size: 1.50rem;
  }

  svg{
    width: 100%;
    height: 600px;
 }

}
@media screen and (max-width: 650px){
  /* *********flag ********************* */
  .container ul li img {
  width: 150px;
  height: 65px;
   }

   .country_heading .country_heading {
          flex: 1 1 300px;
 }

 svg{
    width: 100%;
    height: 500px;
 }

}
@media screen and (max-width: 576px){
  /* *********flag ********************* */
  .container ul {
          justify-content: center;
 }
  .container ul li{
    margin-left: 4px;
    margin-right: 4px;
  }
  .container ul li img {
  width: 72px;
  height: 50px;
   }

   .container ul li p {
     font-size: 12px;
   }

  .fontSmall{
    font-size: 12px;
  }

  .fontSize{
    font-size: 2rem;
   }

   h1,h2{
    text-transform: lowercase;
  }

  .country_heading iframe, .country_heading img {
  width: 100%;
  height: 150px;
  }
}